bert_score==0.3.12
datasets==3.2.0
gradio==5.21.0
matplotlib==3.9.2
modelscope==1.23.2
numpy==2.2.4
pandas==2.2.3
peft==0.15.2
pymilvus==2.5.6
swanlab==0.5.5
torch==2.5.1+cu121
tqdm==4.67.1
transformers==4.52.4
python==3.10